discover==0.4.0
pyvirtualdisplay==0.2.5
ncclient==0.6.3
junos-eznc==1.2.2
pycrypto==2.6.1
pyvmomi==6.5.0.2017.5.post1
dpkt==1.8.8
selenium==2.53.6
junitxml==0.7
jxmlease==1.0.1
remote_pdb==2.0.0
fabric==1.14.1
future==0.18.2
configparser==4.0.2
eventlet==0.25.2
netifaces==0.10.9
tabulate==0.8.5
testrepository==0.0.20
testresources==2.0.1
urllib3==1.25.8
xmltodict==0.12.0
