backports.ssl-match-hostname==3.5.0.1
# 0.16.1 was introduced on 8 Aug and has a bug
#  from setuptools.namespaces import Installer as NameSpaceInstaller # NOQA
#  ImportError: No module named namespaces
#ruamel.yaml!=0.16.1
openshift==0.7.2
python-ceilometerclient==2.9.0
python-cinderclient==5.0.0
python-barbicanclient==4.9.0
python-glanceclient==2.17.0
python-heatclient==1.18.0
python-novaclient==16.0.0
python-ironicclient==3.1.0
python-neutronclient==6.14.0
python-keystoneclient==3.22.0
python-swiftclient==3.9.0
