backports.ssl-match-hostname==3.5.0.1
# 0.16.1 was introduced on 8 Aug and has a bug
#  from setuptools.namespaces import Installer as NameSpaceInstaller # NOQA
#  ImportError: No module named namespaces
ruamel.yaml!=0.16.1
openshift==0.7.2
