deployment:
    sku: ocata
    os: centos74
    version: master-1
    orchestrator: openstack # kubernetes/vcenter/openstack
    slave_orchestrator: # kubernetes
    deployer: contrail-ansible-deployer #openshift/helm

provider_config:
  bms:
    ssh_pwd: password
    ssh_user: root
    ntpserver: ntp.juniper.net
    domainsuffix: local

instances:
  bms1:
    provider: bms
    ip: 10.0.0.4
    roles:
      config_database:
      config:
      control:
      analytics_database:
      analytics:
      webui:
      openstack:
          network_interface: eth1

  bms2:
    provider: bms
    ip: 10.0.0.5
    roles:
      config_database:
      config:
      control:
      analytics_database:
      analytics:
      webui:
      openstack:
          network_interface: eth1

  bms3:
    provider: bms
    ip: 10.0.0.6
    roles:
      config_database:
      config:
      control:
      analytics_database:
      analytics:
      webui:
      openstack:
          network_interface: eth1

  bms4:
    provider: bms
    ip: 10.0.0.7
    roles:
      vrouter:
          PHYSICAL_INTERFACE: eth1
      openstack_compute:
          network_interface: eth1

  bms5:
    provider: bms
    ip: 10.0.0.10
    roles:
      vrouter:
          PHYSICAL_INTERFACE: eth1
      openstack_compute:
          network_interface: eth1

contrail_configuration:
    AAA_MODE: rbac
    CONFIG_API_USE_SSL:
    INTROSPECT_SSL_ENABLE:
    XMPP_SSL_ENABLE:
    METADATA_PROXY_SECRET:

orchestrator_configuration:
    keystone:
        version:
        username:
        password:
        project:
        domain:
        region:
        ssl:
            certs:
    internal_vip:
    external_vip:

# Optional test specific configurations
test_configuration:
    image_web_server:
    stack_user:
    stack_password:
    stack_tenant:
    stack_domain:
    use_project_scoped_token: True
    user_isolation: True
    tenant_isolation: True
    domain_isolation: False
    availability_zone:
    auth_url:
    config_api_ip:
    analytics_api_ip:
    ci_image_flavor:
    fixture_cleanup: yes
    nova_keypair_private_key_filename:
    nova_keypair_public_key_filename:
    http_proxy:
    ui_config:
    ui_browser:
    verify_webui:
    verify_horizon:
    kube_config_file:
    use_devicemanager_for_md5:
    public_tenant_name:
    public_virtual_network:
    public_subnet:
    public_rt:
    router_asn:
    fip_pool_name:
    verify_on_setup:
    stop_on_fail:
    upgrade:
    public_host:
    ext_routers:
        rtr1: 1.1.1.1
    fabric_gw:
        sw1: 2.2.2.2
    ns_agilio_vrouter: True
    data_sw_ip : 10.10.10.10
    data_sw_compute_bond_interface : [ae3]


    traffic_generator:
        ixia_linux_host_ip:
        ixia_host_ip:
        spirent_linux_host_ip:
        ixia_linux_username:
        ixia_linux_password:
        spirent_linux_username:
        spirent_linux_password:
    device_manager:
        mx1:
            vendor: juniper
            model : mx
            asn   : 64512
            name  : mx1
            control_ip : 10.10.10.100
            ssh_username : root
            ssh_password : password
            mgmt_ip  : 10.0.0.20
    physical_routers:
        mx1:
            vendor: juniper
            model : mx
            asn   : 64512
            name  : mx1
            ssh_username : root
            ssh_password : password
            control_ip : 10.10.10.100
            mgmt_ip  : 10.0.0.21
            tunnel_ip: 1.1.1.1
            ports :
            type  : router
            dm_managed: True

        qfx1:
            model: qfx5100
            asn: 64513
            name: qfx1
            ssh_username: root
            ssh_password: Embe1mpls
            mgmt_ip: 10.0.0.22
            tunnel_ip: 1.1.1.2
            ports: xe-0/0/1
            type: tor
            dm_managed: True
            role: leaf
            spine: qfx2 # Specify spine to identify the
                        # spine the leaf node is connected to
                        # by default, connects to all spines
            rb_roles:
              - erb_ucast_gw

        qfx2:
            model: qfx10k
            asn: 64514
            name: qfx2
            ssh_username: root
            ssh_password: Embe1mpls
            mgmt_ip: 10.0.0.23
            tunnel_ip: 1.1.1.3
            ports: xe-0/0/1
            type: tor
            dm_managed: True
            role: spine
            rb_roles:
              - dc_gw
              - dci_gw
              - crb_mcast_gw
              - pnf_service_chain
        srx1:
            vendor: juniper
            name  : srx1
            mgmt_ip  : 10.0.0.21
            role: pnf
            left_qfx: qfx2
            right_qfx: qfx3
            left_qfx_intf: xe-0/0/0
            right_qfx_intf: xe-0/0/0
            local_left_intf: reth0
            local_right_intf: reth1

    bms:
      node1:
          mgmt_ip:
          username:
          password:
          driver_info:
            ipmi_address: 10.1.1.10
            ipmi_password: ADMIN
            ipmi_username: ADMIN
            ipmi_terminal_port: 4100
          properties:
            memory_mb: 32000
            cpu_arch: x86_64
            local_gb: 70
            cpus: 4
            capabilities: boot_option:local
          interfaces:
            - host_mac: aa:bb:bb:cc:dd:ee
              tor: qfx1
              tor_port: ge-0/0/22
              switch_id: "11:11:11:11:11:11"
              pxe_enabled: True
      nodeg16:
          mgmt_ip:
          username:
          password:
          driver_info:
            ipmi_address: 10.1.1.200
            ipmi_password: ADMIN
            ipmi_username: ADMIN
            ipmi_terminal_port: 4200
          properties:
            memory_mb: 32000
            cpu_arch: x86_64
            local_gb: 70
            cpus: 4
            capabilities: boot_option:local
          interfaces:
            - host_mac: aa:bb:cc:dd:ee:ef
              tor: qfx1
              tor_port: ge-0/0/16
              switch_id: "11:11:11:11:11:11"
              pxe_enabled: True
            - host_mac: aa:bb:cc:dd:ee:ff
              tor: qfx2
              tor_port: ge-0/0/16
              switch_id: "11:11:11:11:11:11"
              pxe_enabled: False
      nodeg7:
          mgmt_ip:
          username:
          password:
          driver_info:
            ipmi_address: 10.10.10.200
            ipmi_password: ADMIN
            ipmi_terminal_port: 4300
          properties:
            memory_mb: 32000
            cpu_arch: x86_64
            local_gb: 70
            cpus: 4
            capabilities: boot_option:local
          interfaces:
            - host_mac: aa:bb:cc:dd:cc:aa
              tor: qfx1
              switch_id: "11:11:11:11:11:11"
              tor_port: ge-0/0/27
              pxe_enabled: True
            - host_mac: aa:ba:aa:cc:dd:ee
              tor: qfx2
              switch_id: "11:11:11:11:11:11"
              tor_port: ge-0/0/7
              pxe_enabled: False

        bms1:
            interfaces:
                - tor: qfx1
                  tor_port: xe-0/0/1
                  host_mac: aa:bb:cc:dd:ee:f0
                - tor: qfx2
                  tor_port: xe-0/0/1
                  host_mac: aa:bb:cc:dd:ee:f1
            mgmt_ip: 10.0.0.24 # Specify mgmt ip if multi interface setup
            username: root
            password: password
        bms2:
            interfaces:
                - tor: qfx2
                  tor_port: xe-0/0/2
                  host_mac: bb:cc:dd:ee:ff:gg
            mgmt_ip:            # This is more to do with bms LCM tests with single interface
            username: root
            password: password

    public_subnets:
        - 1.1.1.0/24
        - 2.2.2.0/24

    k8s_nested:
        clusters:
            - name: sp
              master: spm
              slave1: sps1
              slave2: sps2
              network:
                name: spnet
                prefix: 1.1.1.0/24
                fabric_snat: True
              fip_pool:
            - name: fs
              master: fsm
              slave1: fss1
              slave2: fss2
              network:
                name: fsnet
                prefix: 2.2.2.0/24
                fabric_snat: True
              fip_pool:

    fabric:
        - namespaces:
            management:
                - cidr: 10.0.0.0/25
                  gateway: 10.0.0.1
                - cidr: 10.0.0.128/25
                  gateway: 10.0.0.129
            peer:
                - 10.1.1.0/25
                - 10.1.2.0/25
            loopback:
                - 1.1.1.0/25
            pnf_service_chain:
                - 2.2.2.0/25
            asn:
                - max: 64512
                  min: 64512
            ebgp_asn:
                - max: 65000
                  min: 65100
          node_profiles:
            - juniper-mx
            - juniper-qfx10k
            - juniper-qfx5k
          credentials:
            - username: root
              password: password
              vendor: Juniper
              device_family: qfx
          provisioning_network:
            ip_subnet: 192.168.168.0/24
            default_gateway: 192.168.168.1
            dhcp_relay_server:
              - 192.168.168.1
            vlan_tag: 678
          ztp:
            5c1s5-node1-server:
            - name: enp129s0f0
              mac_address: 90:e2:ba:50:ad:f8
              tor: 5c1-qfx3
              tor_port: xe-0/0/39
              switch_id: e4:fc:82:38:83:40
    bms_lcm_config:
      ironic_provision_vn:
        name: ironic-provision
        subnet: 10.1.1.0/24
      deploy_kernel: trusty-ird2.kernel
      deploy_ramdisk: trusty-ird2.ramdisk
      bms_image: ub_bm_cloudinit2.qcow2
    web_server:
        server:
        username:
        password:
        report_path:
        log_path:
        web_root:
    mail_server:
        server:
        port:
        to:
        sender:
