fixtures==1.0.0
testtools==1.7.1
testresources==0.2.7
discover
testrepository
junitxml
pytun
pexpect
pyvirtualdisplay
selenium==2.53.6
unittest2
xmltodict
junos-eznc==1.2.2
pyvmomi==5.5.0
linecache2
eventlet
nose
tabulate
fabric==1.11.1
paramiko==1.17.0
dpkt
kubernetes==1.0.0b3
backports.ssl-match-hostname==3.5.0.1
ipaddress==1.0.18
urllib3==1.20
websocket-client==0.40.0
