##############################################################################
# Descibe flavor details and where its available
# This config file will be used by test scripts to add images through
# glance commands
#
# [flavor name]              # Generic name of the flavor
# vcpus=1
# ram=512
# disk=5    # Disk in GB 
#
# CAUTION: ANY CHANGES TO DEFAULT APPLIES TO ALL SECTIONS
#          IF NOT OVERWRITTEN LOCALLY
##############################################################################

[DEFAULT]
vcpus     = 1
ram       = 512
disk      = 5 

[contrail_flavor_tiny]
ram     = 512
disk    = 1

[contrail_flavor_small]
ram     = 1024
disk    = 10

[contrail_flavor_medium]
ram     = 1024
disk    = 20

[contrail_flavor_large]
vcpus   = 1
ram     = 1024
disk    = 40

[contrail_flavor_2cpu]
vcpus   = 2
ram     = 2048
disk    = 40
